:root {
	--main-background-color: #ffffff;
	--background-dark: #2e2f42;
	--background-team: #f4f4fd;
	--main-font-color: #2e2f42;
	--second-font-color: #434455;
	--logo: #4d5ae5;
	--active-nav: #404bbf;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	background-color: var(--main-background-color);
	color: var(--main-font-color);
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}
button {
	cursor: pointer;
}
.header {
}

.nav {
}

.nav-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;

	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--logo);
}

.logo-nav-st {
	color: var(--main-font-color);
}

.nav-list {
}

.nav-item {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: var(--background-dark);
}
.nav-item:active {
	color: var(--active-nav);
}

.address {
}

.adr-list {
}

.adr-mail {
	font-style: normal;
	font-size: 16px;
	line-height: 24px;

	letter-spacing: 0.02em;
	color: var(--second-font-color);
}

.adr-tel {
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;

	color: var(--second-font-color);
}
.adr-mail .adr-tel:hover {
	color: var(--active-nav);
}
.adr-mail .adr-tel:focus{
color: var(--active-nav);
}
.main {
}

.main-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 60px;

	text-align: center;
	letter-spacing: 0.02em;
	color: var(--main-background-color);
}
.hero-image {
	background-color: var(--background-dark);
}
.button {
	background-color: var(--logo);
}
.button:hover {
	color: var(--active-nav);
}
.button-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;

	letter-spacing: 0.04em;
	color: var(--main-background-color);
}

.section-one {
}

.main-t {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.sec-one-list {
}

.sec-one-list-one {
}

.sec-one-tit {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
}

.sec-one-p {
	font-size: 16px;
	line-height: 24px;

	letter-spacing: 0.02em;
}

.sec-one-list-two {
}

.sec-one-list-three {
}

.sec-one-list-four {
}

.sectione-two {
}

.sec-two-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;

	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

.sec-two-list {
}

.sec-two-li-one {
}

.sec-two-img-one {
}

.sec-two-li-two {
}

.sec-two-img-two {
}

.sec-two-li-three {
}

.sec-two-img-three {
}

.section-three {
	background-color: var(--background-team);
}

.sec-three-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;

	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}
.sec-three-tit {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	text-align: center;
	letter-spacing: 0.02em;
}
.sec-three-p {
	font-size: 16px;
	line-height: 24px;

	text-align: center;
	letter-spacing: 0.02em;
	color: var(--second-font-color);
}

.sec-three-list {
}

.sec-three-li-one {
}

.sec-three-img {
}

.sec-three-li-two {
}

.sec-three-li-three {
}

.sec-three-li-four {
}

.footer {
	background-color: var(--background-dark);
}

.logo-foot {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;

	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logo);
}

.logo-foot-st {
	color: var(--background-team);
}

.footer-p {
	font-size: 16px;
	line-height: 24px;

	letter-spacing: 0.02em;

	color: #e7e9fc;
}

/* Portfolio  */
/* Portfolio  */
/* Portfolio  */
.button-port {
}
.button-text-port {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;

	text-align: center;
	letter-spacing: 0.04em;
	background: var(--background-team);
	color: var(--logo);
}
.button-text-port:active {
	background: var(--active-nav);
	color: var(--main-background-color);
}

.name-elements {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	letter-spacing: 0.02em;
}

.category {
	font-size: 16px;
	line-height: 24px;

	letter-spacing: 0.02em;
	color: var(--second-font-color);
}
